{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "printWidth": 120
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "parser": "angular"
      }
    }
  ]
}
