# Server
PORT=3000
CORS_ORIGIN=http://localhost:4200,https://ngdigest.co,https://www.ngdigest.co

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority

# JWT Authentication
JWT_SECRET=<your-secret-key>
JWT_EXPIRES_IN=360d

# Aggregator
AGGREGATOR_CRON=0 */12 * * *
SERPAPI_KEY=<your-serpapi-key>
DEV_TO_ENABLED=<true|false>
